--extra-index-url https://download.pytorch.org/whl/cu117 torch==2.0.0+cu117 torchvision==0.15.2+cu117 torchaudio==2.0.0
yt-dlp 
gradio==3.35.2
pydub==0.25.1
edge_tts==6.1.7
deep_translator==1.11.4
git+https://github.com/m-bain/whisperx.git
gTTS
gradio_client==0.2.7
