torch==2.0.1+cu117
torchvision==0.15.2+cu117 --extra-index-url https://download.pytorch.org/whl/cu117
git+https://github.com/m-bain/whisperx.git
yt-dlp --upgrade
gradio
gTTS
pydub
edge_tts
deep_translator
torchaudio==2.0.0
